.footer__container {
  display: flex;
  width: 100vw;
  height: 80px;
  align-items: center;
  justify-content: space-evenly;
  background-color: #f2f2f2;
  padding: 0px 150px 0px 150px;
}
.footer__container > span {
  font-weight: bold;
  min-width: 200px;
  font-size: 18px;
}
.footer__btn {
  background-color: transparent;
  border: none;
  text-align: center;
  color: blue;
  opacity: 0.8;
  min-width: 80px;
  border-radius: 9px;
  min-height: 30px;
  transition: 0.5s all;
}
.footer__btn:hover {
  background-color: lightgray;
}
